<%- include('partials/header.ejs', { "pageTitle":'Movie Description' }) %>

<body>
    <%- include("partials/nav.ejs") %>

        <div class="container-fluid" style="margin-top:5rem;">
            <div class="row justify-content-center">
                <img class="col col-12 col-md-8 custom-img my-4" src="https://image.tmdb.org/t/p/w342<%=show.poster_path%>"
                    alt="image from <%=show.title%>">
                <div class="col-12 col-md-6 my-4">
                    
                    <div class="row">
                        <div class="container align-items-center">
                            <div class="row">
                                <div class="col col-12 ms-auto text-center"><h1><%=show.title%></h1></div>
                            <div class="row">
                                <div class="col col-4 text-end">Release Date:</div><div class="col col-8"><%=new Date(show.release_date).toDateString()%></div>
                            </div>
                            <div class="row align-items-center">
                                <% console.log(show) %>
                                <div class="col col-4 text-end">Genres:</div>
                                <div class="col col-8">
                                    <%for (genre of show.genres) {%>
                                        <form action="/search/results" class="d-inline-block">
                                            <input type="hidden" name="currentPage" value="1">
                                            <input type="hidden" name="searchType" value="genre">
                                            <input type="hidden" name="genre" value="<%=genre.name%>">
                                            <button type="submit" class="btn rounded-5 btn-secondary py-0" name="searchQuery" style="font-size:.75rem" value="<%=genre.id%>"><%=genre.name%></button>
                                        </form>
                                    <%}%>
                                </div>
                            </div>
                            <% if (show.homepage.length >0) {%>
                            <div class="row align-items-center mt-2">
                                <div class="col col-4 text-end">Movie Page: </div>
                                <div class="col col-8">
                                    <a href="<%=show.homepage%>" class="btn btn-outline-secondary py-0 rounded-5" style="text-decoration:none" target="_blank"><%=show.title%> Official Site</a>
                                </div>
                            </div>
                            <% } %>
                            <div class="row align-items-center mt-2">
                                <div class="col col-4 text-end">Tagline:</div>
                                <div class="col col-8">
                                    <%=show.tagline%>
                                </div>
                            </div>
                            <div class="row align-items-center mt-1">
                                <div class="col col-4 text-end">Vote Avg:</div>
                                <div class="col col-4 me-auto text-start justify-self-around position-relative">
                                    <div class="position-absolute top-50 start-50 translate-middle">
                                        <h5><%=`${show.vote_average.toFixed(2)}`%></h5>
                                    </div>
                                    <canvas data-vote-avg="<%=show.vote_average%>" class="w-100" id="voteChart"></canvas>
                                    
                                
                            </div>
                        </div>
                        

                    </div>
                    <p class="my-3 col-12">
                        <%=show.overview%>
                    </p>
                    <div class="row justify-content-between align-items-end">
                        <div class="col col-md-6 my-2">
                            <%if (watched.has(show.id)) {%>
                            <a name="removeFromWatchList" id="removeFromWatchList"
                                class="btn  w-100 write-review-btn px-1 mx-0" href="#" role="button"
                                data-movie-id=<%=show.id%>
                                >
                                <i class="bi bi-check"></i>
                                Watched
                            </a>
                            <%} else {%>
                            
                            <a name="addToWatchList" id="addToWatchList"
                                class="btn  w-100 write-review-btn px-1 mx-0" href="#" role="button"
                                data-movie-id=<%=show.id%>
                                >
                                <i class="bi bi-bookmark-plus-fill"></i>
                                Watchlist
                            </a>
                            <%}%>

                        </div>
                        <div class="col col-md-6 my-2">
                            <% if (reviewed.has(show.id)) {%>
                                <a name="" id="btnReviewUpdate" class="btn  w-100 write-review-btn" href="#"
                                role="button" data-movie-id="<%=show.id%>" data-review-id="<%=reviewed.get(show.id)%>">
                                    <i class="bi bi-check"></i>
                                    Reviewed
                                </a>
                            <%} else {%>   
                                <a name="" id="writeReview" class="btn  w-100 write-review-btn" href="#"
                                    role="button" data-movie-id="<%=show.id%>">
                                    <i class="bi bi-file-earmark-text"></i>
                                    Review
                                </a>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
            <h3 class="text-center">Recommendations</h3>
                <div class="container mb-4" style="width: 100vw">
                    <div class="row justify-content-center">
                    <%for (recommendation of recommendations) {%>
                        <form action="/description" class="col col-2 col-lg-1 my-1 recommendedMovie">
                            <div class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-title="<%=recommendation.title%>" data-bs-content="<%=recommendation.overview%>" data-bs-placement="top">
                                <button class="btn p-0" name="id" href="/description" value="<%=recommendation.id%>">
                                    <img src="https://image.tmdb.org/t/p/w92<%=recommendation.poster_path%>" alt="Title" class="w-100" />
                                </button>
                            </div>
                        </form>
                    <%}%>
                    </div>
                </div>
        <% if (watchers.length > 0) {%>
        <hr>
            <h3 class="text-center">User's Who've Also Watched <em><%=show.title%></em></h3>
                <div class="container" style="width: 100vw">
                    <div class="row justify-content-center">
                    <%for (user of watchers) {%>
                        
                        <form action="/getUsersProfile" class="col col-2 col-lg-1 my-1 recommendedMovie">
                            <input type="hidden" name="username" value="<%=user.user_name%>">
                            <button class="btn p-0 m-0" name="id" value="<%=user.id%>">
                                <img src="https://placehold.co/80x80/orange/white?text=<%=user.user_name%>" alt="user_name is <%=user.user_name%>" class="w-100" />
                            </button>
                        </form>
                        
                    <%}%>
                    </div>
                </div>
        <%}%>
        <% if (reviews.length >0) {%>
        <hr>
        <div class="container-fluid">
            <h3 class="text-center">Reviews</h3>
            <%for (review of reviews) {%>
            <div class="card mb-3 w-100" >
                <div class="row g-0">
                    <div class="col col-4 col-sm-3 col-md-2 col-xxl-1 me-0">
                        <img
                            src="https://eu.ui-avatars.com/api/?name=<%=review.user_name%>e&size=250"
                            class="img-fluid rounded-start h-100"
                            alt="anon image of <%=review.user_name%>"
                        />
                    </div>
                    <div class="col col-8 col-sm-9 col-md-10 col-xxl-11 ms-0 justify-self-start">
                        <div class="card-body">
                            <h5 class="card-title"><%=review.title%></h5>
                            <p class="card-text">
                                <%=review.review%>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Rating: </small>
                                <small class="text-muted">
                                    <% for (let i = 0; i < review.rating; i++) { %>
                                        <i class="bi bi-star-fill"></i>
                                    <%}%>
                                    <% for (let i = 0; i < 10 - review.rating; i++) { %>
                                        <i class="bi bi-star"></i>
                                    <%}%>
                                </small>
                                <br>
                                <small class="text-muted">
                                    <form action="/getUsersProfile" class="p-0 m-0">
                                        <input type="hidden" name="username" value="<%=review.user_name%>">
                                        <button class="btn p-0 m-0" name="id" value="<%=review.user_id%>">
                                            By: <%=review.user_name%>
                                        </button>
                                    </form>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            
        </div>
        <%}%>

        <!-- Modal -->
        <%- include("partials/reviewModal.ejs") %>
        <script src="/js/addToWatchList.js"></script>
        <script src="/js/removeFromWatchList.js"></script>
        <script src="/js/updateReviewModal.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const ctx = document.getElementById('voteChart');
            const voteAvg = ctx.getAttribute('data-vote-avg');
            const myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Vote Avg', ''],
                    datasets: [{
                        label: 'Vote Avg',
                        data: [voteAvg, 10 - voteAvg],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 99, 132, 0.0)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 99, 132, 0)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    cutout: '80%',
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            });
        </script>





        <!-- Sidebar -->
        <%- include("partials/sidebarWatchlist.ejs") %>
        <%- include("partials/footer.ejs") %>