<%- include('partials/header.ejs', { "pageTitle":'Search Results' }) %>

<body>
  <%- include("partials/nav.ejs") %>

  <div class="container">
    <div class="row mx-4">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% for (show of shows) { %>
          <div class="col">
            <div class="card h-100">
              <form action="/description">
                <button class="btn p-0" name="id" href="/description" value=<%=show.id%>>
                  <div class="more-info bg-black rounded-pill px-3 py-1">More Info</div>
                  <%if (show.backdrop_path) {%>
                    <img class="custom-card-img-format card-img-top ratio ratio-4x3" src="https://image.tmdb.org/t/p/w300<%=show.backdrop_path%>" alt="image from <%=show.title%>">

                  <%} else {%>
                    <img class="custom-card-img-format card-img-top ratio ratio-4x3" src="https://placehold.co/300x150/orange/white?text=<%=show.title.replace(/ /g, '%20')%>" alt="image from <%=show.title%>">
                  <%}%>
                </button>
              </form>
              <div class="card-body">
                <h5 class="card-title text-truncate"><%=show.title%></h5>
                <p class="card-text d-block w-100 overflow-auto w-100 resultMovieOverview" style="height:10rem"><%=show.overview%></p>
                <div class="container-fluid">
                  <div class="row justify-content-between align-items-end">
                    <div class="col col-6">
                      <%if (watched.has(show.id)) {%>
                        <a
                          name="removeFromWatchList"
                          id="removeFromWatchList"
                          class="btn w-100 write-review-btn px-1 mx-0"
                          href="#"
                          role="button"
                          data-movie-id=<%=show.id%>>
                          <i class="bi bi-check"></i>
                          Watched
                        </a>
                      <%} else {%>
                      <a
                        name="addToWatchList"
                        id="addToWatchList"
                        class="btn w-100 write-review-btn px-1 mx-0"
                        href="#"
                        role="button"
                        data-movie-id=<%=show.id%>>
                        <i class="bi bi-bookmark-plus-fill"></i>
                        Watchlist
                        </a>
                      <%}%>
                      
                    </div>
                    <div class="col col-6">
                      <% if (reviewed.has(show.id)) {%>
                        <a
                          name=""
                          id="btnReviewUpdate"
                          class="btn w-100 write-review-btn px-1 mx-0"
                          href="#"
                          role="button"
                          data-movie-id="<%=show.id%>"
                          data-review-id="<%=reviewed.get(show.id)%>"
                          >
                          <i class="bi bi-check"></i>
                          Reviewed
                        </a>
                      <%} else {%>
                        <a
                          name=""
                          id="writeReview"
                          class="btn w-100 write-review-btn"
                          href="#"
                          role="button"
                          data-movie-id=<%=show.id%>
                          >
                          <i class="bi bi-file-earmark-text"></i>
                          Review
                          </a
                        >
                      <%}%>
                      
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <%- include("partials/reviewModal.ejs") %>
  <script src="/js/addToWatchList.js"></script>
  <script src="/js/removeFromWatchList.js"></script>
  <script src="/js/updateReviewModal.js"></script>

  <!-- Sidebar -->
  <%- include("partials/sidebarWatchlist.ejs") %>
  


  <%- include("partials/footer.ejs") %>
