<%-include('partials/header.ejs', {"pageTitle": 'Users Profile'})%>
<body>
  <%-include('partials/nav.ejs')%>
  <h3 class="text-center"><%=users_name%> has these movies in common with you:</h3>
    <div class="container" style="width: 100vw">
      <div class="row justify-content-center">
        <%for (movie of usersCommon) {%>
            <form action="/description" class="col col-2 col-lg-1 my-1 recommendedMovie">
              
              <button class="btn p-0" name="id" href="/description" value="<%=movie.id%>">
              <img src="https://image.tmdb.org/t/p/w500<%=movie.poster_path%>" alt="Title" class="w-100" />
            </button>
          </form>
        <%}%>
      </div>
    </div>
  <hr>
  <h3 class="text-center"><%=users_name%> has watched:</h3>
    <div class="container" style="width: 100vw">
      <div class="row justify-content-center">
        <%for (movie of usersWatchlist) {%>
            <form action="/description" class="col col-2 col-lg-1 my-1 recommendedMovie">
              
              <button class="btn p-0" name="id" href="/description" value="<%=movie.id%>">
              <img src="https://image.tmdb.org/t/p/w500<%=movie.poster_path%>" alt="Title" class="w-100" />
            </button>
          </form>
        <%}%>
      </div>
    </div>


  <%-include('partials/footer.ejs')%>
